footer {
  margin-top: auto;
}

footer::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
  margin-bottom: -30px;
  margin-left: 0px;
}

#footer-part-1 {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 50px;
}

#footer-part-1 a + a {
  margin-left: 50px;
}

#footer-part-2 {
  margin-left: 25px;
  margin-bottom: 10px;
  font-family: WorkSans;
}

.icons {
  display: inline-block;
  width: 25px;
}

.icons:hover {
  cursor: pointer;
}

#stasis {
  font-family: WorkSansBold;
}

#stasis:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {

  
  
  #footer-part-1 {
    justify-content: space-between;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  
  
  #footer-part-2 {
    margin-left: 10px;
    font-size: 13px;
  }
  
  .icons {
    width: 20px;
  }

}