#previews-container {
  width: 85%;
  font-family: WorkSansBold;
  height: 100%;
  margin: auto;
  flex-direction: column;
  margin-top: 55px;
  align-content: flex-start;
  font-size: 30px;
  padding-right: 10px;
  display: flex;
  padding-left: 10px;
}

.preview-header {
  font-size: 17px;
  margin-bottom: 5px;
  color: grey;
  width: 100%;
  font-weight: normal;
  font-family: WorkSans;
}

.preview-title {
  width: auto;
  font-family: WorkSans;
  margin: 0 0 0 0;
  margin-right: auto;
  overflow: hidden;
  margin-left: 10px;
  font-size: 23px;
  display: inline-block;
  color: #903;
}

.preview-title:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.preview-text {
  font-size: 16px;
  display: block;
  line-height: 25px;
  font-weight: 500;
  font-family: WorkSans;
}

.series {
  font-size: 20px;
  font-family: WorkSansBold;
}

.not-homepage.preview-header {
  font-size: 16px;
  margin-bottom: -5px;
}

.not-homepage.preview-title {
  font-size: 21px;
}

#preview-container-2.not-homepage {
  padding-top: 15px;
}

#preview-container-2.not-homepage + #preview-container-2.not-homepage {
  margin-top: 25px;
}

.preview-img {
  width: 100px;
  height: 70px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 720px) {

  
  
  .not-homepage.preview-title {
    font-size: 18px;
  }
  
  .preview-text {
    margin-right: 0%;
  }
  
  #previews-container {
    margin-left: 50px;
  }
  
  .preview-img {
    width: 80px;
    height: 60px;
  }
  
  .preview-title {
    width: 75%;
  }

}

@media (max-width: 400px) {

  
  
  .preview-title {
    font-size: 20px;
    margin-top: 9px;
    font-family: WorkSans;
  }
  
  .preview-text {
    width: 100%;
    margin-right: !0%;
  }
  
  .preview-header {
    font-size: 13px;
    margin-bottom: 0px;
  }

}